.navbar {
    background-color: #b6b6b6;
}

.quem-somos {
    background-color: rgb(146, 136, 136);
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #646464;
}